---
import Layout from "../layouts/Layout.astro";

const allPosts = await Astro.glob('../pages/posts/*.md');
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const sortedPosts = nonDraftPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate.getTime() - aDate.getTime();
});
---

<Layout title="index Astro">
    <main>
        <ul>
            {nonDraftPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </main>
</Layout>

<style>
    li{
        list-style: none;
    }
    a {
        background-color: ;
        display: block;
        width: 50%;
        height: 80px;
        padding-left: 30px;
        border: 1px solid;
        margin-top: 10px;
    }
    a:hover {
        background-color: black;
        display: block;
	}

</style>