---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob('../pages/posts/*.md');
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title="index Astro">
    <main>
        <ul>
            {nonDraftPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </main>
</Layout>
