---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props
---

<Layout title="index Astro">
    <main>
        <h1>index Astro</h1>
        <p>neko</p>
        <slot />
    </main>
</Layout>

