<p id="footer">@ ワタナベックス</p>

<style>
    #footer {
		background-color: gray;
		padding: 15px 0px 30px 10px;
        font-size: 30px;
		font-weight: 800;
		border: 1px solid orange;
		background-color: orange;
        -webkit-text-stroke: 0.3mm black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
	}
</style>