<div id="navi">
<button><a href="/">home</a></button>
<button><a href="/posts/about">about</a></button>
</div>

<style>
    #navi {
        margin: 0%;
        padding: 0px 0px 10px 10px;
        margin: 0px;
        margin-top: 10px;
        font-size: 60px;
    }
    button{
        font-size: 60px;
    }
    button:hover {
        background-color: black;
    }
    a {
        text-decoration: none;
    }
</style>