---
import Layout from './Layout.astro';
import Navi from '../components/Navi.astro'; 

const { frontmatter } = Astro.props
---
<Layout title={frontmatter.title}>
	<main>
		<div id="marktitle">
			<h1 id="pagetitle">{frontmatter.title}</h1>
			<div id="date">
				<p id="pubDate">作成日: {frontmatter.pubDate.slice(0,10)}</p>
				<p id="upDate">更新: {frontmatter.upDate.slice(0,16)}</p>
			</div>
		</div>
			<p>タグ： {frontmatter.tags}</p>
    	<slot />
	</main>
</Layout>

</html>

<style>
	html {
		font-family: system-ui, sans-serif;
	}
	main {
		margin-left: 2vw;
		margin-right: 2vw;
		padding-bottom: 50px;
		font-size: 3.14vw;
	}
	#pagetitle {
		margin-bottom: 0px;
		background-color: white;
		-webkit-text-stroke: 0.5mm black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		font-size: 9.5vw;
	}
	#date {
		display: inline-flex;
		font-size: 25px;
		color: white;
	}
	#pubDate {
		margin-right: 20px;
		border-left: 3px solid white;
		border-right: 3px solid white;
		padding: 0px 10px 0px 10px;
	}
	#upDate {
		margin-right: 20px;
		border-left: 3px solid white;
		border-right: 3px solid white;
		padding: 0px 10px 0px 10px;
	}
	#markconts {
		background-color: aqua;
		color: black;
	}
	.markconts {
		background-color: black;
		color: rgb(242, 242, 242);
	}

</style>
